body {
    background-color: rgb(75,20,44);
    font-family: 'Playfair Display', serif;
}

.title {
    text-shadow: 2px 4px rgb(113,13,12);
    background-color: rgb(218,157,114);
    font-family: 'Orbitron', sans-serif;
    grid-area: hd;
    text-align: center;
    border-color: rgb(68,12,27); 
    border-style: outset;
    border-radius: 9px;
}

.content {
    background-color: rgb(113,13,12);
    grid-area: main;
    color: white;
    border-color: rgb(68,12,27); 
    border-style: dotted;
    border-radius: 9px;
}

#wrapper {
    max-width: 1200px;
    max-height: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
      "hd   hd   hd   hd   hd"
      "main main main main   main"
      "main Logo auto result main"
      "main Logo auto result main"
      "main Logo auto result main"
      "main Logo auto result main"
      "main main main main   main"
      "main search search search main";
}