header{
    margin: 0;
    text-align: center;
    font-size: 100px;
    color: #75cac3;
    text-shadow: 2px 2px black;
}

body {
    background: #d7f7f5;
    font-family: 'Playfair Display', serif;
}
#wrapper{
    background: #d7f7f5;
}
#searchbar{
    align-items: center;
    margin: 0 20%;
    align-content: center;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-areas: "searchterm searchbutton resultslength myModal";
}

#searchbutton {
  justify-content: center;
  background-color: #75cac3;
  color: black;
  cursor: pointer;
  padding: 7px 7px;
  text-align: center;
  display: inline-block;
  font-size: 8px;
  transition-duration: 0.8s;
  border-radius: 6px;
  width: 15em;
  margin: 10px;
}

#searchbutton:hover {
    color: white;
}

#searchbutton:active {
  background-color: violet;
  box-shadow: 2px 2px grey;
  transform: translateY(1px);
}

#searchterm {
    height: 20px;
    width: 100%;
    margin: 5px;
    min-width: 100px;
}

/*Search results*/
#searchresults{
    display: grid;
    grid-template-areas: "result"
    "result"
    "result"
    "result"
    "result";
}

.result{
    border: 5px solid;
    margin: 5px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:"logo name domain";
    background-color:#417a8b;
}

.result img{
    height:128px;
    width: 128px;
}

#logo{
    margin: 0px;
}

#name{
    margin: 0px;
    font-size: 25px;
    align-content: center;
}

#name p{
    text-align:center;
    margin-top: 2em;
    color: white;
}

#domain{
    margin: 25px auto;
    text-align: center;
}

#homepage{
    margin-top: 1em;
}

/*Favorite Buttons*/
.btn-sm {
    position: relative;
    border: inset;
    font-size: 12px;
    color: #FFFFFF;
    width: 75px;
    text-align: center;
    transition-duration: 2s;
    text-decoration: wavy;
    overflow: hidden;
    cursor: pointer;
    margin-left: 20px;
    margin: 5px;
  }

.btn-sm:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
 }

 .btn-sm:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
 }

/*Results Length Dropdown*/
#resultslength{
    text-align: center;
}

/*Favorite List button*/
#myBtn{
    min-width: 100px;
    width: 150px;

}
.modal {
    display: none; /* Hidden by default */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 10px auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    overflow: auto;
    display: grid;
    grid-template-areas: "result"
    "result"
    "result"
    "result"
    "result";
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /*Media Queries*/
  @media only screen and (min-width: 768px) {
    #searchbar{
        align-items: center;
        margin: 0 20%;
        align-content: center;
        display: grid;
        grid-template-columns: 5fr 1fr 1fr 1fr;
        grid-template-areas: "searchterm searchbutton",
        "resultslength myModal";
    }
  }